[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "==2.1.1"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"
flower = "*"
pytest = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pytest-django = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.8"
